@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rancho&display=swap');
@import url('https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    overflow-x: hidden;
    background: #fff;
}
#header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 300px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background: linear-gradient(to bottom, azure, transparent);
}
#header .logo
{
    color: #154360;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
#header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header ul li
{
    list-style: none;
    margin-left: 20px;
}
#header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #154360;
    border-radius: 20px;
}
#header ul li a:hover,
#header ul li a:active
{
    background: #154360;
    color: #fff;
}
#mask
{
    position: absolute;
    width: 100%;
    height: 120vh;
    background: #154360;
    z-index: 100;
    opacity: 0;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #154360, transparent);
    z-index: 10;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section #text
{
    position: absolute;
    color: #154360;
    font-size: 10vw;
    text-align: center;
    line-height: 0.55em;
    font-family: 'Rancho', cursive;
    top: 250px;
    z-index: 20;
}
section #text span
{
    font-size: 0.20em;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: #fff;
    color: #154360;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);
}
.sec
{
    position: relative;
    padding: 100px;
    background: #154360;
    top: 100px;
}
.sec h2
{
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 10px;
    transform: translateY(-100px);
}
.sec p
{
    font-size: 1em;
    color: #fff;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}